@page
@model Earth.Pages_AdminExploreTopics.IndexModel

@{
    ViewData["BodyClass"] = "earthmodel-page";
    ViewData["Title"] = "Index";
}

<h1 style="color:white;">Index</h1>

<p>
    <a asp-page="Create" style="color:white;">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].FullContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].KeyFacts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExploreTopic[0].CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExploreTopic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyFacts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
